{% extends "im_base.html" %}

{% block header %}
  <h1>Login</h1>
  <a href="/signup">Sign Up</a>
{% end %}

{% block body %}
    <form method="post">
      <table>
        <tr>
          <td class="label">
            Username
          </td>
          <td>
            <input type="text" name="username" value="{{username}}">
          </td>
          <td class="error">
          </td>
        </tr>

        <tr>
          <td class="label">
            Password
          </td>
          <td>
            <input type="password" name="password" value="">
          </td>
          <td class="error">
	    {{login_error}}
            
          </td>
        </tr>

      </table>

      <input type="submit">
    </form>
{% end %}

